footer{
    position: absolute;
    height: 100px;
    bottom: 0;
   left: 0;
   width: 100%;
   align-content: center;
   background-color: rgba($color: #4a4a4a, $alpha: 0.8);
}

#white{
    color: white;
}